*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}



.latestentry p{
    margin: 5px;
}


/* ----------------- DASHBOARD ---------------*/

.fcontainer{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    cursor: pointer;
}

.fitem{
    background-color: white;
    width: 400px;
    min-height: 150px;
    display: flex;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 15px;
    justify-content: baseline;
}
.text{
    color: gray;
    margin-left: 30px;


}

.data{
   font-size: 30px;
   margin-left: 30px;
}




/* 
.temp{
    transition: 0.5s ease-in-out;
    box-shadow: 0  0 20px 0 rgba(0, 0, 0, 0.2);
} */

/* .temp:hover{
    box-shadow: 0  0 20px 0 white;
   
} */


/* ------------ LATEST ENTRY----------- */

.main{
   margin:180px 20px;
   /* display: inline-block; */
    
}
.carlist{
    background-color: rgba(37, 133, 115, 0.529);
    width:400px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;

}

.carlist .entry{
    font-size:40px;
    letter-spacing: 0.2em;
    margin-bottom: 30px;
    color:white;
}

.cardetails{
    font-size: 30px;
    margin: 10px;
    letter-spacing: 2px;
    color: white;
}
/* 
.card{
    display: flex;
    justify-content: right;
    margin-right: 50px;
    position: relative;
    bottom: 400px;
} */


/* ------------- NAVBAR----------------- */
.main-nav{
    display: flex;
    justify-content: right;

}
.navbar{
    background: linear-gradient(87deg, #11cdef 0, #1171ef 100%);
    height: 50vh;
    display: inline-block;  

}

.navbar ul{
    display: flex;
    height: 5vh;
    justify-content: space-evenly;
    align-items: center;

}
.navbar ul li{
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 2px;
}

.navbar ul .logo{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}


/* --------------- All car list------------- */


.carplate{
   background-color:white ;
   margin: 20px;
   padding: 20px;
   cursor: pointer;
}



.box{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    color: black;
}

.grid-box{
    margin-top: 10px;
    display: flex;
    justify-content: center;
  
 
}



.parking-space{
    border-bottom: 2px solid pink;
    margin: 10px;
    height: 10vh;
    width: 130px;
    font-size: 15px;
    text-align: center;
}

.bg-green{
    border-bottom: 2px solid green;
}
/* .bg-red{
    border: 2px solid red;
} */




.heading{
    text-align: center;
    margin-bottom:100px;
    font-size: 50px;
    letter-spacing: 0.5rem;
}



.pie{
    width: 400px;
}

.bar{
    width: 600px;
}

.chart-container{
    display: flex;
    padding: 4rem;
    justify-content: space-around;
    align-items: center;
}


/* -------------------- Sidebar------------------ */

.car{
    width: 30px;
}

.sidebar{
    display: inline-block;
    position: fixed;
    bottom: 100px;
    transition: 0.5s ease-in-out;
    box-shadow: 0  0 20px 0 rgba(0, 0, 0, 0.2);
    
 
  
}

.sidebar ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    margin-left: 20px;

 
}

.sidebar li{
    list-style-type: none;
    

}


.allcarlist{
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}

.history{
    margin-top: 30px;
    width: 800px;
    margin: 0 auto;
}


/* ------------------ search------------------ */

.searchlist{
    display: flex;
    flex-direction: column;
  
    /* justify-content: right; */
}

.w-300{
    width: 300px;
}

.relative{
    position: relative;
}


.searchlist li{
    list-style-type: none;
}
  
    



